<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mercado liebre</title>
	<script src="https://kit.fontawesome.com/8f20961981.js" crossorigin="anonymous"></script> 
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
	<link rel="stylesheet" href="/css/home.css">
</head>
<body class="fondo-body">
	<header class="fondo">
		
		<img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre" height="100" class="left-aligned">
		<div class="container">
			<form class="search-box">
				<input type="text" placeholder="Buscar productos, marcas">
				
		</div>
		<div class="search">
			<button type="submit"><i class="fa-solid fa-magnifying-glass fa-xs"></i></button>
		</div>
		<br>
		<p class="anuncio-cuotas"><i class="fa-solid fa-hand-holding-dollar fa-xs"></i>Comprá en cuotas y sin tarjeta de crédito</p>
		<br>
		<div>
		<nav class="iconos">
            <ul>
				<li><a href = "/">Home</a></li>
				<li><a href = "/ofertas">Ofertas</a></li>
				<li><a href = "/tiendasOficiales">Tiendas oficiales</a></li>
				<li><a href = "/vender">Vender</a></li>
				<li><a href = "/ayuda">Ayuda</a></li>
				<br>
				<li><a href = "/creatucuenta">Creá tu cuenta</a><i class="fa-regular fa-id-card fa-xs"></i></li>
				<li><a href = "/ingresa">Ingresá</a><i class="fa-solid fa-right-to-bracket fa-xs"></i></li>
				<li><a href = "/miscompras">Mis compras</a><i class="fa-solid fa-basket-shopping fa-xs"></i></li>
			</ul>
        </nav>
		</div>
		<div class="burger-menu">
			<i class="fas fa-bars"></i>
			</div>
	</header>
	<section>
		<img src="/images/img-home-banner.jpg" class="" alt = "home banner" width="100%" >
		<br>
			<div class="ult-visita">
		<h3>Basado en tu última visita</h3>
			</div>
		<br>
		<div class="div-articles">
			<article>
		<img src="/images/img-cafetera-moulinex.jpg" alt = "imagen de la cafetera" width="25%" height="100%">
		<br>
		<div class="truck">
		<i class="fa-solid fa-truck" style="color: #39b54a;"></i>
		</div>
		<hr>
		<span>$6.770</span><span class="off" >40% off</span>
		
				</article>
			</div>
		<br>
		<div class="div-articles">
			<article>
		<img src="/images/img-macbook-pro-2019.jpg" alt = "imagen de MacBook" width="25%">
		<br>
		<div class="truck">
		<i class="fa-solid fa-truck" style="color: #39b54a;"></i>
		</div>
		<hr>
		<span>$230.000</span><span class="off">20% off</span>
		<h5>MacBook Pro 2019</h5>
			</article>
		</div>
		<br>
		<div class="div-articles">
			<article>
		<img src="/images/img-samsung-galaxy-s10.jpg" alt = "imagen del Samsung Galaxy" width="25%">
		<br>
		<div class="truck">
		<i class="fa-solid fa-truck" style="color: #39b54a;"></i>
		</div>
		<hr>
		<span>$70.500</span>
		<span class="off">10% off</span>
		
		<h5>Samsung Galaxy S10</h5>
			</article>
		</div>
		<br>
		<div class="div-articles">
			<article>
		<img src="/images/img-tv-samsung-smart.jpg" alt = "imagen del SmartTv" width="25%">
		<br>
		<div class="truck">
		<i class="fa-solid fa-truck" style="color: #39b54a;"></i>
		</div>
		<hr>
		<span>$23.200</span>
		<span class="off">5% off</span>
		
		<h5>SmartTv Samsung 43</h5>
			</article>
		</div>
		<br>
		<div class="div-articles">
			<article>
		<h3>Ofertas</h3>
		<img src="/images/img-cafetera-moulinex.jpg"  alt = "imagen de la cafetera" width="25%">
		<br>
		<div class="truck">
		<i class="fa-solid fa-truck" style="color: #39b54a;"></i>
		</div>
		<hr>
		<p>$6.770</p>
		<h5 class="off">40% OFF</h5>
		
		<h5>Cafetera Moulinex</h5>
			</article>
		</div>
		<br>
		<div class="div-articles">
			<article>
		<img src="/images/img-macbook-pro-2019.jpg" alt = "imagen de MacBook" width="25%">
		<br>
		<div class="truck">
		<i class="fa-solid fa-truck" style="color: #39b54a;"></i>
		</div>
		<hr>
		<p>$230.000</p>
		<h5 class="off">20% off</h5>
		
		<h5>MacBook Pro 2019</h5>
			</article>
		</div>
		<br>
		<div class="div-articles">
			<article>
		<img src="/images/img-samsung-galaxy-s10.jpg" alt = "imagen del Samsung Galaxy" width="25%">
		<br>
		<div class="truck">
		<i class="fa-solid fa-truck" style="color: #39b54a;"></i>
		</div>
		<hr>
		<p>$70.500</p>
		<h5 class="off">10% off</h5>
		
		<h5>Samsung Galaxy S10</h5>
			</article>
		</div>
		<br>
		<div class="div-articles">
			<article>
		<img src="/images/img-tv-samsung-smart.jpg" alt = "imagen del SmartTv" width="25%">
		<br>
		<div class="truck">
		<i class="fa-solid fa-truck" style="color: #39b54a;"></i>
		</div>
		<hr>
		<p>$23.200</p>
		<h5 class="off">5% off</h5>
		<h5>SmartTv Samsung 43</h5>
		<br>
			</article>
		</div>
		</div>
		<br>
	</section>
	
    <footer class="icon">
		<i class="fa-solid fa-credit-card"></i>
<h4>Pagá con tarjeta o en efectivo</h4>
	<p class="futer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en <br>
		puntos de pago. ¡Y siempre es seguro!</p>
		<i class="fa-solid fa-gift"></i>
	<h4>Envío gratis desde $ 2.500</h4>
<p class="futer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de <br>
	productos. Es un beneficio de Mercado Puntos.</p>
	<i class="fa-solid fa-user-shield"></i>
		<h4>Seguridad, de principio a fin</h4>
		<p class="futer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,<br>
			porque estás siempre protegid@.</p>
			<p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>

</body>
</html>