<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mercado liebre</title>
	<script src="https://kit.fontawesome.com/8f20961981.js" crossorigin="anonymous"></script> 
	<link rel="stylesheet" href="/css/home.css">
</head>
<body class="fondo-body">
	<header class="fondo-header">
		<section class="logo-busqueda-cuotas">
           
				<a href="/"><img src="/images/logo-mercado-liebre.svg"  alt="logo-mercado-liebre" height="100%" class="left-aligned"></a>
				<form>
                <div class="search">
					<input type="text" placeholder="Buscar productos, marcas">
					<button><i class="fa-solid fa-magnifying-glass fa-lg" style="color: #000000;"></i>
					</button>
				</div>
  </form>
</div>
            <p class="anuncio-cuotas"><i class="fa-solid fa-hand-holding-dollar fa-xs"></i>Comprá en cuotas y sin tarjeta de crédito</p>
    </section>
        <nav class="header-enlaces">
            <ul class="lista1">
              <li><a href="/views/ofertas.html">Ofertas</a></li>
              <li><a href="/views/tiendasOficiales.html">Tiendas oficiales</a></li>
              <li><a href="/views/vender.html">Vender</a></li>
              <li><a href="/views/ayuda.html">Ayuda</a></li>
            </ul>
  
            <ul class="lista2">
              <li><a href="/creatucuenta">Creá tu cuenta <i class="fa-regular fa-address-card"></i></a></li>
              <li><a href="/ingresa">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
              <li><a href="/miscompras">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
<div class="burger-menu">
    <i class="fas fa-bars"></i>
    </div>
</header>
<main>
    <form class="main-form" action="">
        <div class="item-form">
            <input type="text" name="name" id="name" placeholder="Nombre de usuario" required>
        </div>
        <div class="item-form">
            <input type="password" name="password" id="password" placeholder="Intruduce tu contraseña" required>
        </div>
        <div class="enviar">
        <a href="/" class="button-form" type="submit">Enviar</a>
        </div>
    </form>
</main>
<footer class="footer">
    <div class="div-footer">
        <article class="icon-footer">
                <i class="fa-solid fa-credit-card icon__f"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p class="futer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en <br>
                puntos de pago. ¡Y siempre es seguro!</p>
        </article>
    </div>
    <div class="div-footer">
        <article class="icon-footer">
                <i class="fa-solid fa-gift icon__f"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p class="futer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de <br>
                productos. Es un beneficio de Mercado Puntos.</p>
    <div class="div-footer">
        <article class="icon-footer">
                <i class="fa-solid fa-user-shield icon__f"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,<br>
                porque estás siempre protegid@.</p>
            
        <article>
            <p class="Copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </article>		
</footer>

</body>
</html>