@import url(/css/general.css);

.left-aligned{
   width: 50%;
   margin-left: 20px;
    
}

.container{
    margin-left: 5%;
    font-family: 'Roboto', sans-serif ;
    color: #666;
   
    
}

.search{
    margin-left: 5%;
}

.burger-menu i{
margin-left: 40%;
  background-color: #1259c3;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
    
}
.iconos i{
    margin-left: 0%;
}

.fondo-header{
    background-color: #EAC926;
    
}

.fondo-body{
    background-color: #ebebeb;
}

.ult-visita{
    margin-left: 0px;
    font-family: 'Roboto', sans-serif ;
}
.ofertas{
    margin-left: 30%;
    font-family: 'Roboto', sans-serif ;
}

.div-articles{
    background-color: #ffffff;
    display: table;
   margin-left: 15px;
   margin-right: 15px;
    font-family: 'Roboto', sans-serif ;
    text-align: center;
   
    
}

.anuncio-cuotas {
    margin-left: 10%;
    font-family: 'Roboto', sans-serif;
    
}
.off{
    color: #39b54a;
  margin-right: 0%;
    
}


h3{
    font-family: 'Roboto', sans-serif ;
    font-size: 24px;
    color: #666;
 
}



.truck{
    margin-left: 30%;
}

.off h5{
    font-family: 'Roboto', sans-serif ;
    font-size: 16px;
   
}

span {
    font-family: 'Roboto', sans-serif ;
    font-size: 18px;
    margin-right: 20%;
}

.productos{
    margin-left: 40%;
}


footer{
    font-family: 'Roboto', sans-serif ;
    background-color: #ffffff;
    margin: 0px;
}

.Copyright{
    font-size: small;
}
.icon i{
   
   margin-bottom: 10px;
   color: #1259c3;
   margin-left: 40%;
   font-size: 2em;
    
}



