@import url(/css/general.css);


.left-aligned{
   width: 50%;
   margin-left: 20px;
    
}

.container{
    margin-left: 5%;
    font-family: 'Roboto', sans-serif ;
    color: #666;
   
    
}

.search{
    margin-left: 5%;
}

.burger-menu i{
margin-left: 40%;
  background-color: #1259c3;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
    
}
.iconos i{
    margin-left: 0%;
}

.fondo-header{
    background-color: #EAC926;
    
}

.fondo-body{
    background-color: #ebebeb;
}

.ult-visita{
    margin-left: 0px;
    font-family: 'Roboto', sans-serif ;
}

.ofertas{
    margin-left: 30%;
    font-family: 'Roboto', sans-serif ;
}

  .productos {
    border-top: 1px solid #ebebeb;
    padding: 15px;
  }
 
  
  .div-articles{
    background-color: #ffffff;
    text-align: center;
    padding: 15px;
    margin: 30px 10px; 
   
}



.anuncio-cuotas {
    margin-left: 10%;
    font-family: 'Roboto', sans-serif;   
}

.off{
    color: #39b54a;
  margin-right: 0%;
    
}


h3{
    font-family: 'Roboto', sans-serif ;
    font-size: 24px;
    color: #666;
 
}





.off h4{
    font-family: 'Roboto', sans-serif ;
    font-size: 16px;
   
}

span {
    font-family: 'Roboto', sans-serif ;
    font-size: 18px;
    margin-right: 20%;
}

.fa-truck{
    position: relative;
    left: 88px;
    bottom: 7px;
}

.fa-circle{
    font-size: 37px;
    position: relative;
    left: 120px;
}


footer{
    font-family: 'Roboto', sans-serif ;
    background-color: #ffffff;
    margin: 0px;
}

.Copyright{
    font-size: small;
}
.icon i{
   
   margin-bottom: 10px;
   color: #1259c3;
   margin-left: 40%;
   font-size: 2em;
    
}



#navv{
    padding-bottom: 20px;
    display: none;
}

.div-articles-h2{
    display: none;
}


@media (min-width: 361px){
    #navv{
        display: initial;
        padding-bottom: 20px;
    }
    .burger-menu{
        display: none;
    }
    .div-articles-h2{
        display: initial;
    }
    .div-articles{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}