@import url(/css/general.css);


/*header*/

.left-aligned{
    width: 25%;
    margin: 20px 35px;
 }

 .search{
    display: flex;
    justify-content: center;
    width: 100%;
}

.search input{
    padding: 3px;
    width: auto;
}

.search button{
    width: 22px;
}

.slogan{
    text-align: center;
    margin: 10px;}
.slogan i {
    margin-left: -5px;
} 


.burger-menu i{
  margin-left: 40%;
  background-color: #1259c3;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;   
}

.iconos i{
    margin-left: 0%;
}

.fondo-header{
    background-color: #EAC926;
}



/*BODY*/

.fondo-body{
    background-color: #ebebeb;
}

.ult-visita{
    font-size: 24px;
    color: #666;
    text-align: center;
    margin: 10px 0px;
}

.ofertas{
    font-size: 24px;
    color: #666;
    text-align: center;
    margin: 10px 0px;
    width: 100%;
}


.lista1{
        padding-bottom: 20px;
        display: none;
}   
.lista2{
        padding-bottom: 20px;
        display: none;
}


    /*PRODUCTOS*/

.div-articles{
        background-color: #ffffff;
        padding: 15px;
        margin: 30px 10px; 
}

.precio{
    font-size: 18px;
    width: 30%;
    align-self: center;  
}

.off {
    font-size: 16px;
    width: 70%;
    align-self: center;
    color: var(--color-verde);
}

.articles-h2{
    display: none;
    color: var(--colorGrisOscuro);
    font-size: 16px;
    padding-top: 15px;
}

.productos {
    border-top: 1px solid #ebebeb;
    padding: 15px;
    position: relative;
    flex-wrap: wrap;
    display: flex;
}

.productos i{
    color: var(--color-verde);
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid var(--color-verde);
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
   top: -15px;
   
  
}
article .fa-truck{
    transition: 0.6s;
}
article .fa-truck :hover{
    transform: rotateZ(-90deg);
    transition: all 700ms;
}

/*FOOTER*/

.footer{
    background-color: #ffffff;
    width: 100%;
   
}

.div-footer{
    justify-content: center;
    padding: 8% 0%;
    text-align: center;
    color:var(--color-gris-oscuro);
}

.Copyright{
    color: var(--color-gris-oscuro);
    padding-top: 6%;
    padding-bottom: 35px;
    margin-left: 20px;
}

.icon-footer i{
    width: 100%;
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
    color:var(--color-celeste);
}


@media (min-width: 768px){
   
    .burger-menu{
        display: none;
    }

    .articles-h2{
        display: initial;
        color:var(--color-gris-oscuro);
        font-size: 16px;
    }

    .div-articles{
        box-shadow: 0px 0px 10px rgb(100, 100, 100); width: 100%;
    }

    .home_main section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .div-articles{
        background-color: #ffffff;
        padding:40px;
        margin: 30px 20px;
        width: 40%;
    }

    .header-enlaces{
        display: initial;
        padding-bottom: 20px;
        display: inline-block;
        display: flex;
        justify-content: space-between;
    }

    .header-enlaces a {
        margin-right: 5vh;
    }

    .lista1{
        display: flex ;
        flex-direction: row;
        margin-left: 3vh;
        
    }

    .lista2{
        display: flex ;
        flex-direction: row;
    }
    .logo-busqueda-cuotas {
        display: flex;
        flex-direction: row; 
        justify-content: space-around;
        align-items: center; 
        margin-bottom: 4vh;
    }
  
}



@media (min-width: 1024px){
 

   .home_main section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .div-articles{
        background-color: #ffffff;
        padding:35px;
        margin: 30px 20px;
        width: 20%;
    }

    .header-enlaces{
        display: initial;
        padding-bottom: 20px;
        display: inline-block;
        display: flex;
        justify-content: space-between;
    
    }



 /*formularios*/
    
}

.main-form{
    width: 80%;
    margin: 0 auto;

}
.main-form div{
    display: flex;
    padding: 15px;
   justify-content: center;
}
.main-form .item-form input{
    padding: 8px;
    border: none;
    font-size: 12px;
    border-radius: 5px;
    width:250px;
}
    .button-form{
        background-color: var(--color-celeste);
        padding: 10px;
        margin: 20px 0px;
        border-radius: 5px;
        font-size: 16px;
        border: none;
        width: 500px;
        opacity: 0.7;
        transition: 0.6s;
        color: white;
       
    }
    
    .button-form:hover{
        cursor: pointer;
        background-color: #0022AA;
    }

.date{
    background-color: white;
}
.main-form-radio div{
    width: 150px;

    
}
.main-form-radio div input{
    margin-right: 5px;
}
.main-form-h4 {
width: 250px;
text-align: left;
margin-bottom: -20px;

}
.main-form-checkbox{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5px;
    width: 250px;
}
.main-form-checkbox div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.main-form-checkbox div input{
    margin-right: 5px;
}
.form-lista{
    border:none;
    border-radius: 5px;
    padding: 7px;
    margin: 0 22px;
    width: 100px;
    font-size: 12px;
    background-color: white ;
}


@media (min-width: 769px) {
    .producto {
        padding: 0;
        width: 20%;
    }

    .main-form {
        width: 500px;
    
     
        justify-content: flex-start;
    }

    .main-form div button {
     
        margin-bottom: 100px;
    }
    .main-form-checkbox{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 5px;
        width: 250px;
    }
    .main-form-checkbox div{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .main-form .item-form input, .main-form-checkbox, .main-form-h4{
        width:500px;
        margin: 0;
    }
    .form-lista{
        width: 500px;
        margin: 0 5px ;
        
    }
    .main-form div button{
    
        width: 470px;
    
    }
 
    
    
  .footer section{
    display: flex;
    flex: 1;
    padding: 20px;
  }
  .Copyright{
      margin-top: 0%;
  }

}